<div class="left-navbar">
  <ul class="left-nav-items">
    <% @product_types.each do |product_type| %>
      <li>
        <span class="menu-first-item"><%= product_type.name %></span>

        <ul class="left-nav-items" style="display: none;">
          <% product_type.manufacturers.distinct.each do |manufacturer| %>
            <li class="menu-nested-item"
                data-type-id="<%= product_type.id %>"
                data-manufacturer-id="<%= manufacturer.id %>">

              <%= manufacturer.name %>
            </li>
          <% end %>
        </ul>
      </li>

    <% end %>
  </ul>
</div>