<div class="navbar">
  <div class="navbar-brand nav-block">&nbsp;</div>
  <div class="nav-block">
    <ul class="navbar-menu-items">
      <li class="navbar-menu-item">
        <a href="/">Home</a>
      </li>
      <!--        <li class="navbar-menu-item">-->
      <!--          <a href="/">Home</a>-->
      <!--        </li>-->
    </ul>
  </div>
</div>