<div class="search-panel">
  <form action="/">
    <input type="text" placeholder="What do you need?" class="search-input" name="search" value="<%= params[:search] %>"><input type="submit" value="Search" class="search-btn">
  </form>
</div>