<div class="product-items" id="products">
  <%= render 'products', products: @products %>
</div>
<div id="product_remote_pagination" style="visibility:hidden">
  <%= paginate @products, :remote => true %>
</div>
